*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#ffb200;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box1{
    font-size: 16px;
    margin-top: 10px;
    background: transparent;
    border: none;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    width: 300px;
    height: 25px;
    margin-left: 25px;
    font-size: 12PX;


}
.box3{
    font-size: medium;
    margin-top: 10px;
    width: 300px;
    height: 25px;
    border: none;
    background-color:#eb5b00;
    border-radius: 25px;
    margin-left: 25px;
}
h2{
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size:45px;
}
p{
    margin-left: 65px;
    margin-top: 10px;
}
